.custom-background-image {
  transition: 1s;
  background-color: brown;
  background-image: url("https://picsum.photos/800");
}

.custom-background-image:hover {
  transform: scale(1.2);
  transition: 1s;
}
.qualification-img-section {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
